body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1rem;
  margin: 0;

}

#masthead{

}

#masthead nav{
  background-color: #2c2c2ccc;
  color: #fffd;
  font-size: 1.1rem;
  padding: 0 0.5rem 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#masthead nav img{

}

#masthead nav ul{
  margin: 0;
  padding: 0;
  text-transform:capitalize;

  display: flex;
  justify-content:space-between;
  align-items: center;

}

#masthead nav ul li{
  list-style: none;
  margin-right: 1rem;
}

#masthead ul li a{
  text-decoration: none;
  color: #fffd;
  font-size: 1.1rem;
  display: block;
  padding: 1rem;
}

#masthead nav a:hover{
  background-color: #000d;
}

#iconImg{
  padding: 4.25px;
}

#indexCarrosel{
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#indexCarrosel.headerImage1{
  background-image: url("images/main/SaoPaulo-high.jpg");
}

/* ============================Main========================================== */

.indexArticle{
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.historyImg{
  background-image: url("images/History/ItaliaBuilding50s.jpg");
}

.cultureImg{
  background-image: url("images/Culture/pexels-eduardo-dutra-3044565.jpg");
}

.nightLifeImg{
  background-image: url("images/nightLife/StreetAugusta.png");
}

.show{
  max-height: 100%;
}
