body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1rem;
  margin: 0;

}

#masthead{

}

#masthead nav{
  background-color: #2c2c2ccc;
  color: #fffd;
  padding: 0 0.5rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 8.1vh;
}

#masthead nav img{
  height: 100%;
}

#masthead nav ul{
  margin: 0;
  padding: 0;
  text-transform:capitalize;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

#masthead nav ul li{
  list-style: none;
  margin-right: 1rem;
}

#masthead nav a{
  text-decoration: none;
  color: #fffd;
  font-size: 1.4rem;
  padding: 0 1.5rem 0 1.5rem;
  line-height: 8.1vh;
  display: inline-block;
}

#masthead nav a:hover{
  background-color: #000d;
}

#masthead #iconImg img{
  padding: 0.2rem;
  vertical-align: middle;
}

#indexCarrosel{
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#indexCarrosel.headerImage1{
  background-image: url("images/main/SaoPaulo-high.jpg");
}

/* ============================Main========================================== */

.indexArticle{
  height: 92vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.historyImg{
  background-image: url("images/History/ItaliaBuilding50s.jpg");
}

.cultureImg{
  background-image: url("images/Culture/pexels-eduardo-dutra-3044565.jpg");
}

.nightLifeImg{
  background-image: url("images/nightLife/TerracoItalia.jpg");
}

.buttonPlus{
  background-image: url("images/Misc/ic_+.png");
}

.buttonExit{
  background-image: url("images/Misc/ic_x.png");
}

.show{
  max-height: 100%;
}

main .indexArticle{
  position: relative;
}

main .indexArticle h1{
  margin: 0;
  color: #fff;
  font-size: 6rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

main .indexArticle .buttonPlus{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3rem;
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: all 0.3s ease;
  z-index: 100;
}
